#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#title {
  color: white;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.letter-box {
  display: flex;
  width: 90px;
  height: 90px;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  transition: 1s;
}

@keyframes shake {
  0%   {transform: translateX(5px);}
  10%  {transform: translateX(0px);}
  20%  {transform: translateX(-5px);}
  30%  {transform: translateX(0px);}
  40%   {transform: translateX(5px);}
  50%  {transform: translateX(0px);}
  60%  {transform: translateX(-5px);}
  70%  {transform: translateX(0px);}
  80%   {transform: translateX(5px);}
  100% {transform: translateX(0px);}
}

.not-a-word {
  animation-name: shake;
  animation-duration: 0.5s;
}

#popupContainer {
  position: absolute;
  color: black;
  /* opacity: 0; */
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.popupIn {
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  width: 200px;
  display: flex;
  text-align: center;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
  margin-top: 5px;
  /* transition: 1s; */
}

.popupOut {
  background-color: white;
  animation-name: fadeOut;
  animation-duration: 0.5s;
  width: 200px;
  display: flex;
  text-align: center;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
  margin-top: 5px;
  /* transition: 1s; */
}